<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find titan_control)/config/titan_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/titan" args="joint_state_controller 
            diff_drive_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <remap from="/joint_states" to="/titan/joint_states" />
  </node>

  <!-- Manual robot steering -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/titan/diff_drive_controller/cmd_vel"/>
  </node>

</launch>